@font-face {
  font-family: "Rubik";
  font-style: medium;
  font-weight: 600;
  src: local("Rubik Medium"), local("Rubik-Medium"),
    url("../../assets/fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "ChivoMono";
  font-style: light;
  font-weight: 400;
  src: local("ChivoMono Plain"), local("ChivoMono-Regular"),
    url("../../assets/fonts/ChivoMono-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "Saira";
  font-style: bold;
  font-weight: 700;
  src: local("Saira Bold"), local("Saira-Bold"),
    url("../../assets/fonts/Saira-Bold.ttf") format("truetype");
}

:root {
  --lFuel-gauge-bar: 291px;
  --clt-gauge-bar: 291px;
  --rpm-deg: 294px;
  --kmh-deg: 294px;
  --main-color: #00d3ff;
  --second-color: #00d3ff;
}

body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: #000;
  color: #eee;
  font-family: "Rubik", sans-serif;
  border: none;
  margin: 0;
  padding: 0;
  text-rendering: optimizeSpeed;
}

.bgcolor {
  width: 340px;
  height: 60px;
  position: absolute;
  bottom: 8px;
  right: 2px;
  background-color: #000;
  clip-path: polygon(31% 0, 100% 26%, 100% 100%, 0 75%, 0 52%);
  z-index: 1;
}

.barclip {
  z-index: -1;
  height: 301px;
  width: 136px;
  transform: rotate(-6.3deg) rotatey(313deg) skew(38deg, 352deg);
  bottom: 43px;
  position: absolute;
  left: 64px;
  overflow: hidden;
  clip-path: polygon(16% 0, 100% 0, 100% 100%, 0 100%);
  display: block;
}

.rpmbar,
.kmhbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: bottom;
  background-color: #fff;
  border-top: 4px solid white;
  z-index: 1;
}

#container.connected .bgcolor,
#container.connected .rpmbar,
#container.connected .kmhbar {
  background-color: var(--main-color);
  opacity: 1;
  animation: none;
}

#container.connected .kmhbar {
  transform: translateY(var(--kmh-deg));
}

#container.connected .rpmbar {
  transform: translateY(var(--rpm-deg));
}

.toplines {
  position: absolute;
  width: calc(100% - 40px);
  top: 30px;
  left: 20px;
  height: 42px;
}

.toplines svg {
  position: absolute;
  top: 0;
}

.toplines svg:last-child {
  transform: scaleX(-1);
  right: 0;
}

.navcursor {
  position: absolute;
  left: calc(50% - 62.5px);
  top: 330px;
  z-index: 10;
}

.numbers {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 12;
}
#kmhnumbers,
#right-gauge .bignumber {
  transform: scaleX(-1);
}

.numbers > div {
  position: relative;
  font-size: 28px;
  text-shadow: 1px 1px 3px #000;
  font-family: "Saira";
  font-weight: 700;
  width: 20px;
  text-align: center;
}

#kmhnumbers > div {
  width: 55px;
  margin: 0 0 -4px 247px;
}

.numbers.rpm-max-6 > div {
  margin: 0 0 2px 220px;
}

.numbers.rpm-max-7 > div {
  margin: 0 0 -4px 220px;
}

.numbers.rpm-max-8 > div {
  margin: 0 0 -9px 220px;
}

.numbers.rpm-max-9 > div {
  margin: 0 0 -13px 220px;
}

.numbers.rpm-max-10 > div {
  margin: 0 0 -16px 220px;
}

.bignumber {
  font-size: 72px;
  position: absolute;
  right: 50px;
  bottom: 25px;
  z-index: 150;
  width: 160px;
  text-align: center;
  text-shadow: 0px 0px 10px #000;
  font-family: "Saira";
  font-weight: 700;
  line-height: 80px;
}

#bottomanimation {
  width: 20%;
  left: 40%;
  height: 130px;
  bottom: 0;
  position: absolute;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#bottomanimation > div {
  width: 100%;
  height: 6px;
  position: relative;
  background: var(--main-color);
  animation: wave 2s linear infinite;
  transform: scale(0);
  opacity: 0.3;
}

#top-gauges {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 90px;
  height: 70px;
}

#top-gauges .gauge-mini {
  width: 295px;
  position: absolute;
  top: 0;
}

#top-gauges .gauge-mini > span {
  display: block;
  height: 50px;
  width: 295px;
  position: relative;
  clip-path: polygon(0% 0, 77% 15%, 100% 86%, 100% 100%, 76% 40%, 3% 20%);
  background-color: #444;
}

#top-gauges .gauge-mini > span div {
  display: block;
  height: 50px;
  width: 295px;
  position: relative;
  background-color: var(--main-color);
  transform-origin: right;
  transform: translateX(291px);
  border-left: 4px solid #fff;
}

#top-gauges .gauge-mini .value {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  top: 32px;
  right: 65px;
}

#top-gauges .gauge-mini .value img {
  height: 22px;
  margin: 0 4px;
}

#top-gauges .gauge-mini .value div {
  font-size: 24px;
  margin: 0 4px;
}

#top-gauges .gauge-mini .value span {
  font-family: "ChivoMono";
  font-size: 26px;
}

#left-gauge-mini {
  left: 0;
}

#right-gauge-mini {
  right: 0;
  transform: scaleX(-1);
}

#top-gauges #right-gauge-mini .value {
  transform: scaleX(-1);
  flex-direction: row-reverse;
}

#top-gauges #right-gauge-mini > span div {
  transform: translateX(var(--clt-gauge-bar));
}

#top-gauges #left-gauge-mini > span div {
  transform: translateX(var(--lFuel-gauge-bar));
}

#centerLeftWidget {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 72px;
  display: block;
  top: 190px;
  opacity: 1;
}

#centerLeftWidget .mini-gauge {
  width: 16.6vw;
}

#centerLeftWidget .micro-gauges {
  position: absolute;
  width: 64%;
  top: 0;
  min-width: 300px;
  left: 18%;
  display: flex;
}

#centerLeftWidget .micro-gauges .micro-gauge {
  position: relative;
  text-align: center;
  font-size: 14px;
  border-right: 2px solid #777;
  border-top: none;
  border-bottom: none;
  overflow: hidden;
  height: 68px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

#centerLeftWidget .micro-gauges .micro-gauge:last-child {
  border-right: none;
}

#centerLeftWidget .micro-gauges .micro-gauge > div {
  font-weight: 600;
  position: relative;
  color: #777;
  text-align: center;
}

#centerLeftWidget .micro-gauges .micro-gauge > div:after,
#centerLeftWidget .micro-gauges .micro-gauge > p:after {
  left: inherit;
  right: -9px;
}

#centerLeftWidget .micro-gauges .micro-gauge > p:before,
#centerLeftWidget .micro-gauges .micro-gauge > p:after {
  bottom: -10px;
  top: inherit;
}

#centerLeftWidget .micro-gauges .micro-gauge > p {
  margin: 0;
  position: relative;
  color: #777;
}

#centerLeftWidget .micro-gauges .micro-gauge > span {
  font-family: "Saira";
  font-size: 32px;
  line-height: 36px;
  color: #ffffff;
}

/* svg colors */
.str0 {
  stroke: white;
  stroke-width: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 22.9256;
}
.fil0 {
  fill: none;
}
.fil2 {
  fill: white;
  fill-opacity: 0.3;
}
.fil1 {
  fill: black;
  fill-opacity: 0.5;
}
.fil3 {
  fill: white;
  fill-opacity: 0.5;
}
.fil4 {
  fill: black;
  fill-opacity: 0.6;
}
.fil5 {
  fill: #00ccff;
}
.fil6 {
  fill: #fff;
}

.mainColorFill {
  fill: var(--main-color);
}

.secondColorFill {
  fill: var(--second-color);
}

/* animation variants */
#container.connected .str5 {
  stroke: #4d4d4d;
}
#container.connected .str6 {
  stroke: var(--main-color);
}

#container {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  top: 1px;
  left: 0px;
  border: none;
  overflow: hidden;
  transform: scale(1);
  max-height: 500px;
}

#top-info {
  position: absolute;
  width: 100%;
  height: 90px;
  top: 45px;
  left: 0;
  right: 0;
  box-sizing: border-box;
  z-index: 20;
}

#top-info .icons {
  position: absolute;
  text-align: center;
  width: 45%;
  top: 0;
  left: 27.5%;
}

#top-info .icons.bottom {
  bottom: 0;
  top: auto;
}

#top-info .icons span {
  height: 35px;
  align-items: center;
  margin: 0;
  width: calc(75% / 6);
  opacity: 0.1;
  padding: 0;
  display: inline-block;
}

#top-info .icons #OIL img {
  max-width: 45px;
}

#top-info .icons span[data-etoggle="1"],
.turn-arrows[data-etoggle="1"] {
  opacity: 1 !important;
}

#top-info .icons span img {
  width: auto;
  height: 35px;
  max-width: 38px;
  line-height: 40px;
  display: inline-block;
  align-self: center;
}

#top-info .icons .icons-divider {
  width: 240px;
}

#top-info .icons .icons-divider img {
  width: 50px;
  max-width: inherit;
  max-height: 50px;
}

#bottom-odo {
  font-size: 16px;
  width: 56%;
  z-index: 10;
  position: absolute;
  top: 425px;
  color: #aaa;
  font-weight: 600;
  left: 22%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#bottom-odo > div {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

#bottom-odo span {
  font-family: "Saira";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  margin: 0 5px;
  color: #fff;
  font-weight: 700;
}

#bottom-odo .left {
  left: 0;
}

#bottom-odo .center {
  width: 380px;
  left: calc(50% - 190px);
}

#bottom-odo .center * {
  font-size: 14px;
  display: inline-block;
  font-family: unset;
  font-weight: initial;
  padding: 0;
  margin: 0;
  letter-spacing: initial;
}

#bottom-odo .right {
  right: 0;
}

#main-gauges {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.circle {
  display: block;
  height: 360px;
  width: 506px;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  z-index: 2;
  opacity: 1;
  left: 10px;
  top: 70px;
}

.circle > img {
  position: absolute;
  z-index: 100;
  bottom: 0;
  display: block;
}

#right-gauge.circle {
  right: 10px;
  left: initial;
  transform: scaleX(-1);
}

#top-info,
#top-gauges,
.toplines {
  transform-origin: center 500%;
}

/* ANIMATIONS */

/* ANIM IN */

#bottom-odo,
.navcursor,
#bottomanimation,
#centerLeftWidget,
.circle .numbers > div,
.circle .bignumber,
#top-info,
#top-gauges,
.toplines,
#main-gauges {
  opacity: 0;
  will-change: transform, opacity;
}

.anim-in #top-gauges,
.anim-in .toplines {
  animation-delay: 2s;
}

.anim-in #top-info {
  animation-delay: 4s;
}

.anim-in #centerLeftWidget {
  animation-delay: 3.5s;
}

.anim-in #bottom-odo,
.anim-in .circle .bignumber {
  animation-delay: 2.5s;
}

.anim-in .navcursor,
.anim-in #bottomanimation {
  animation-delay: 5s;
}

.anim-in #bottom-odo,
.anim-in .navcursor,
.anim-in #bottomanimation,
.anim-in #centerLeftWidget,
.anim-in .circle .bignumber {
  animation-name: fade-in;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.anim-in #top-info,
.anim-in #top-gauges,
.anim-in .toplines,
.anim-in #main-gauges {
  animation-name: zoom-in;
  animation-timing-function: cubic-bezier(0, 1, 1, 1);
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.anim-in .numbers > div {
  animation-name: fade-in;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.anim-in .rpmbar,
.anim-in .kmhbar {
  animation-name: slide;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: 1s;
  transform: translateY(310px);
}

/* ANIM OUT */

.anim-out #bottom-odo,
.anim-out .navcursor,
.anim-out #bottomanimation,
.anim-out #centerLeftWidget,
.anim-out .circle .numbers > div,
.anim-out .circle .bignumber,
.anim-out #top-info,
.anim-out #top-gauges,
.anim-out .toplines,
.anim-out #main-gauges {
  opacity: 1;
}

.anim-out #centerLeftWidget {
  animation-delay: 0.5s;
}

.anim-out .circle .barclip,
.anim-out .circle .bgcolor {
  display: none;
}

.anim-out .circle .numbers,
.anim-out .circle .bignumber {
  animation-delay: 1s;
}

.anim-out #main-gauges {
  animation-delay: 2.2s;
}

.anim-out #bottom-odo,
.anim-out .navcursor,
.anim-out #bottomanimation {
  animation-delay: 1.5s;
}

.anim-out #bottom-odo,
.anim-out .navcursor,
.anim-out #bottomanimation,
.anim-out #centerLeftWidget,
.anim-out .circle .numbers,
.anim-out .circle .bignumber {
  animation-name: fade-out;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.anim-out #top-info,
.anim-out #top-gauges,
.anim-out .toplines,
.anim-out #main-gauges {
  animation-name: zoom-out;
  animation-timing-function: cubic-bezier(1, 0, 1, 1);
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

/* KEYFRAMES */
@keyframes fade-in {
  1% {
    opacity: 0.01;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  1% {
    opacity: 1;
  }
  100% {
    opacity: 0.01;
  }
}

@keyframes zoom-out {
  1% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0.01;
  }
}

@keyframes zoom-in {
  1% {
    transform: scale(2);
    opacity: 0.01;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes wave {
  1% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    transform: scale(1);
    opacity: 0.1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes slide {
  1% {
    transform: translateY(310px);
  }
  100% {
    transform: translateY(-320px);
  }
}
