:root {
    --rpm-deg: 260deg;
    --fuel-deg: -20.5deg;
    --clt-deg: 19.5deg;
    --kmh-deg: 226deg;
}


@font-face {
    font-family: 'Digital';
    src: url(./assets/font/Digital.ttf);
}


body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    background-color: #000;
    color: #eee;
    border: none;
    margin: 0;
    padding: 0;
    text-rendering: optimizeSpeed;
    scale: 1.0;
}

.oilFuelCoolGauge,
.rpmGauge,
.speedGauge {
    position: absolute;
    scale: 1.0;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: gauges 2s ease-in-out forwards;
}

.oilFuelCoolGauge {
    top: 50%;
    left: 21%;
}

.rpmGauge {
    top: 50%;
    left: 50%;
    z-index: 1;
}

.speedGauge {
    top: 50%;
    left: 79%;
}

/* Ponteiros */
.ponteiroRpm {
    width: 12%;
    top: 31%;
    left: 50%;
    position: absolute;
    scale: 1.0;
    transform: translate(-50%, -50%) rotate(var(--rpm-deg));
    transform-origin: center 85%;
    animation: ponteiroRpm 2s ease-in-out;
    opacity: 1 !important;
}

.ponteiroSpeed {
    width: 12%;
    top: 31%;
    left: 50%;
    position: absolute;
    scale: 1.0;
    transform: translate(-50%, -50%) rotate(var(--kmh-deg));
    transform-origin: center 85%;
    animation: ponteiroSpeed 2s ease-in-out;
    opacity: 1 !important;
}

.ponteiroFuel {
    top: 90%;
    left: 49.5%;
    position: absolute;
    scale: 1.0;
    transform: translate(-50%, -50%) rotate(var(--fuel-deg));
    transform-origin: center -395%;
    animation: ponteiroFuel 2s ease-in-out;
    opacity: 1 !important;
}

.ponteiroCoolant {
    top: 90%;
    left: 49.5%;
    position: absolute;
    scale: 1.0;
    transform: translate(-50%, -50%) rotate(var(--clt-deg));
    transform-origin: center -395%;
    animation: ponteiroCoolant 2s ease-in-out;
    opacity: 1 !important;
}

.oilPressTitle {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    color: #F80000;
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.oilPressNumber {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
    color: #F80000;
    position: absolute;
    top: 23%;
    left: 28%;
    transform: translate(-50%, -50%);
}

.fuelPressNumber {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
    color: #F80000;
    position: absolute;
    top: 23%;
    left: 73%;
    transform: translate(-50%, -50%);
}

.battNumber {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
    color: #F80000;
    position: absolute;
    top: 78.6%;
    left: 72%;
    transform: translate(-50%, -50%);
}

.rpmNumber {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
    color: #F80000;
    position: absolute;
    top: 92%;
    left: 73%;
    transform: translate(-50%, -50%);
}

.speedNumber {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
    color: #F80000;
    position: absolute;
    top: 92%;
    left: 28%;
    transform: translate(-50%, -50%);
}

.tpsNumber {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
    color: #F80000;
    position: absolute;
    top: 9.6%;
    left: 73%;
    transform: translate(-50%, -50%);
}

.lbdNumber {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
    color: #F80000;
    position: absolute;
    top: 9.6%;
    left: 28%;
    transform: translate(-50%, -50%);
}


.bstNumber {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
    color: #F80000;
    position: absolute;
    top: 78.6%;
    left: 28%;
    transform: translate(-50%, -50%);
}

.absolute {
    position: absolute;
}

.farolBaixo {
    top: 41%;
    left: 80%;
}

.luzOleo {
    top: 41%;
    left: 62%;
}

.luzhandbrake {
    top: 50.5%;
    left: 62%;
}

.luzBatt {
    top: 41%;
    left: 25.5%;
}

.engCheck {
    top: 50.5%;
    left: 25.5%;
}

.luzSetas {
    top: 41%;
    left: 7.2%;
}

.triptext {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    text-align: center;
    color: #F80000;
    top: 62%;
    left: 50%;
    font-size: 0.8rem;
    transform: translate(-50%, -50%);
}

.trip {
    font-family: 'Digital';
    position: absolute;
    text-align: center;
    color: #F80000;
    top: 67%;
    left: 50%;
    font-size: 0.9rem;
    transform: translate(-50%, -50%);
}

.kmtotaltext {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    text-align: center;
    color: #F80000;
    top: 32%;
    left: 50%;
    font-size: 0.8rem;
    transform: translate(-50%, -50%);
}

.kmtotal {
    font-family: 'Digital';
    position: absolute;
    text-align: center;
    color: #F80000;
    top: 38%;
    left: 50%;
    font-size: 1.2rem;
    transform: translate(-50%, -50%);
}

.totais {
    text-align: right;
}

@keyframes gauges {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ponteiroRpm {
    0% {
        transform: translate(-50%, -50%) rotate(260deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(459deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(260deg);
    }
}

@keyframes ponteiroSpeed {
    0% {
        transform: translate(-50%, -50%) rotate(226deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(496deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(226deg);
    }
}

@keyframes ponteiroFuel {
    0% {
        transform: translate(-50%, -50%) rotate(-20.5deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(-64deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-20.5deg);
    }
}

@keyframes ponteiroCoolant {
    0% {
        transform: translate(-50%, -50%) rotate(19.5deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(64deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(19.5deg);
    }
}

#container {
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    top: 1px;
    left: 0px;
    border: none;
    overflow: hidden;
    transform: scale(1);
    max-height: 500px;
}

#leds span img {
    opacity: 0;
}

#leds span[data-etoggle="1"] img {
    opacity: 1 !important;
}
